@import "tailwindcss";

:root {
  --dark-bg: #0f172a;
  --dark-card: #1e293b;
  --dark-border: #334155;
  --white-border: #f1f5f9;

  --text-primary: #f1f5f9;
  --text-secondary: #94a3b8;
  --text-muted: #64748b;
}

* {
  box-sizing: border-box;
}

body {
  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
  background: var(--dark-bg);
}
